{% extends "base.html" %}
{% block title %}Catalog{% endblock title %}
{% block content %}
        {% include "categories.html" %}
	<div class="row">
		<div class="col-md-6">
            <h1>Latest Places</h1>
            <ul>
                    {% for categoryPlace in categoryPlaces %}
                        <a href="{{url_for('showPlace', catalog_name = categoryPlace.category.name ,place_name = categoryPlace.name )}}">
                            <li>
                                <span>{{categoryPlace.name}}</span>
                                <span>({{categoryPlace.category.name}})</span>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            {% if 'username' in session %}
               <a href="{{url_for('newCategory')}}">New Category</a>
               <a href="{{url_for('addItemPlace')}}">Add Item</a>
           {% endif %}
        </div>

	</div>
{% endblock %}