{% extends "base.html" %}
{% block title %}Catalog{% endblock title %}
{% block content %}
        {% include "categories.html" %}
<div class="col-sm-6">
{% if 'username' in session %}
    <a href="{{url_for('addItemPlace')}}">Add Item</a>
{% endif %}	
<h1>Latest Places</h1>
    <ul>
    {% for categoryPlace in categoryPlaces %}
    
        <li>
            <a href="{{url_for('showPlace', catalog_name = categoryPlace.category.name, place_name = categoryPlace.name)}}">
                <span>{{categoryPlace.name}}</span></a>
            <span class="cat-front">({{categoryPlace.category.name}})</span>
        </li>
    </a>
    {% endfor %}
    </ul>

</div>      
{% endblock %}