{% extends "base.html" %}

{% block content %}

	 {% include "categories.html" %}
	
                
                <h6 >Items (<strong>{{count}}</strong>)</h6>
                {% for place in places %}
                    <a href = "{{url_for('showPlace', catalog_name = place.category.name, place_name=place.name)}}">
                
                        <h4>{{ place.name }}</h4>
                    </a>
                
                {% endfor %}
                {% if 'username' in session %}
                    <a href = "{{url_for('deleteCategory', catalog_name=category.name)}}">Delete Category</a>
                    <a href = "{{url_for('editCategory', catalog_name=category.name)}}">Edit Category</a>
                {% endif %}
	
{% endblock %}