{% extends "base.html" %}

{% block content %}

                
                        
                        <h4>{{place.name }}</h4>
                        <img class="img-responsive img-center" src="{{ place.photo }}" alt="{{ place.name }}">
                        <br>
                        <p>{{place.description }}</p>
                        <span><a href = "{{url_for('deleteItemPlace', catalog_name = place.category.name, place_name = place.name)}}">Delete</a>
                       <a href = "{{url_for('editPlace', catalog_name = place.category.name, place_name = place.name)}}">Edit</a></span>
                       
                            
	
{% endblock %}