{% extends "base.html" %}

{% block title %}Category Items{% endblock title %}

{% block content %}

<!-- Page Content -->


            {% include "categories.html" %}

            <div class="col-md-9">
                <h6 class="padding-bottom-26">Places (<strong>{{count}}</strong>)</h6>
                {% for p in places %}
               
                    <div class="caption-full">
                        <img class="img-responsive img-center" src="{{ p.picture }}" alt="{{ p.name }}">
                    </div>
                    <a href = "{{url_for('showPlace', category_name = p.category.name, place_name = p.name)}}">
                        <h4>{{ p.name }}</h4>
                    </a>
                </div>
                {% endfor %}
            </div>

<!-- /.section -->

{% endblock %}