{% extends "base.html" %}

{% block content %}

<div class="placedetail">
	<h4>{{place.name }}</h4>
    <img class="img-fluid" src="{{ place.photo }}" alt="{{ place.name }}">
    <p>{{place.description }}</p>
        {% if 'username' in session %}
	        <span><a href = "{{url_for('deleteItemPlace', catalog_name = place.category.name, place_name = place.name)}}">Delete</a>
	        <a href = "{{url_for('editPlace', catalog_name = place.category.name, place_name = place.name)}}">Edit</a></span>
	    {% endif %}
                       
             
{% endblock %}